node_modules/
dist/
build/
.expo/
.env
.env.*
!.env.example
!.env.prod.example
*.log
.DS_Store
coverage/
.turbo/
android/
ios/

apps/api/static/*
!apps/api/static/layouts
apps/api/static/layouts/*
!apps/api/static/layouts/.gitkeep
